/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fredoka", sans-serif;
    margin: auto;
    background-color: var(--color-fondo-body);
}
button {
    font-family: inherit;
    background-color: var(--color-letra);
    padding: 4px;
}

:root {
    --color-fondo-body: #E1DCC9;
    --color-fondo-tele: #252525;
    --color-madera-tele: #8A5F41;
    --color-letra:#F6F4E8;
    --color-pantalla-tele: #F3F4F4;
    --color-sombra-tele: #000000;
    --color-detalles-tele: #949494;
    --color-rejilla-tele: #cccccc;
    
}
/* Cuerpo del menu */
.padre {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.MensajeBienvenida {
    display: flex;
    padding: 8px;
    width: 100%;
    height: 136px;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    border: solid 5px var(--color-madera-tele);
    color: var(--color-fondo-tele);
    font-size: 20px;
}

/* Estructura central */
.estructuraCentral {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 600px;
}

/* Television */
.menuEleccion {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-left: 180px;
    margin-top: 110px;
    width: 30%;
    height: 332px;
    border: solid 10px var(--color-madera-tele);
    background-color: var(--color-fondo-tele);
    border-radius: 4px;
    box-shadow: 3px 3px 2px 3px var(--color-sombra-tele);
    z-index: 2;
}
.antena-tele-1 {
    display: flex;
    position: absolute;
    border: 3px solid var(--color-detalles-tele);
    height: 180px;
    width: 2px;
    left: 432px;
    bottom: 358px;
    transform: rotate(-20deg);
}
.antena-tele-2 {
    display: flex;
    position: absolute;
    border: 3px solid var(--color-detalles-tele);
    height: 180px;
    width: 2px;
    left: 500px;
    bottom: 358px;
    transform: rotate(20deg);
}
.pie-menu-tele {
    display: flex;
    position: absolute;
    border: 3px solid var(--color-fondo-tele);
    background: var(--color-madera-tele);
    height:32px;
    width:300px;
    top: 500px;
    left:310px;
    box-shadow: 3px 3px 2px 3px var(--color-sombra-tele);
    border-radius: 5px;
}
.pantallaMenu {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    width: 80%;
    height: 100%;
    background-color: var(--color-pantalla-tele);
    border: 6px solid var(--color-fondo-tele);
    border-radius: 4px;
    gap: 5px;
}
.detalles-tele {
    display: flex;
    flex-direction: column;
    background-color: var(--color-detalles-tele);
    border: 6px solid var(--color-fondo-tele);
    border-radius: 4px;
    width: 111px;
    height: 312px;
    overflow: hidden;
}
.pantalla-superior {
    display: flex;
    align-self: center;
    margin-top: 10px;
    height: 25px;
    width: 65px;
    border: 3px solid var(--color-sombra-tele);
    background-color: var(--color-fondo-tele);
}
.parte-superior-detalles-tele {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 100px;
    width: 50px;
    gap: 11px;
}
.volumen-1 {
    display: flex;
    border: 3px solid var(--color-rejilla-tele);
    background: var(--color-pantalla-tele);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 16px;
}
.volumen-2 {
    display: flex;
    border: 3px solid var(--color-rejilla-tele);
    background: var(--color-pantalla-tele);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 16px;
}
.rejilla-tele {
    display: flex;
    background: repeating-linear-gradient(
    to bottom,  
    var(--color-rejilla-tele) 0px,         
    var(--color-rejilla-tele) 3px,         
    transparent 3px,  
    transparent 8px   
);
    width: 98px;
    height: 150px;
}

.mando-tele {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: self-end;
    height: 110px;
    background-color:  var(--color-fondo-tele);
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: auto;
}
.parte-inferior-detalles-tele {
    display: flex;
    flex-direction: row;
    height: 120px;
    gap: 10px;
}
.rectangulo-izq {
    display: flex;
    flex-direction: column;
    height: 5px;
    align-self:flex-start;
    width: 40px;
    height: 110px;
    border: solid 3px;
    margin-left: 4px;
    background: var(--color-sombra-tele);
}
.boton-rectangulo-1 {
    display: flex;
    color: var(--color-rejilla-tele);
    height: 10px;
    width: 10px;
    border: solid 8px;
    border-radius: 50%;
    margin: auto;
}
.boton-rectangulo-2 {
    display: flex;
    color: var(--color-rejilla-tele);
    height: 10px;
    width: 10px;
    border: solid 8px;
    border-radius: 50%;
    margin: auto;
}
.boton-rectangulo-3 {
    display: flex;
    color: var(--color-rejilla-tele);
    height: 10px;
    width: 10px;
    border: solid 8px;
    border-radius: 50%;
    margin: auto;
}
.boton-rectangulo-4 {
    display: flex;
    color: var(--color-rejilla-tele);
    height: 10px;
    width: 10px;
    border: solid 8px;
    border-radius: 50%;
    margin: auto;
}
.mando-1 {
    display: flex;
    justify-content: center;
    background-color: var(--color-rejilla-tele);
    height: 45px;
    width: 45px;
    border: solid 6px;
    border-radius: 50%;
    margin: 5px;
    margin: auto;
}
.eje-mando-1 {
    display: flex;
    align-self: center;
    background-color: var(--color-sombra-tele);
    height: 20px;
    width: 20px;
    border: solid 8px;
    border-radius: 50%;
}
.mando-2 {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: var(--color-rejilla-tele);
    border: solid 6px;
    border-radius: 50%;
    margin: auto;
}
.eje-mando-2 {
    display: flex;
    align-self: center;
    justify-content:center;
    background-color: var(--color-sombra-tele);
    height: 20px;
    width: 20px;
    border: solid 8px;
    border-radius: 50%;
}
/* Tarjeta */
.juegoTarjeta {
    display: none;
    justify-content: flex-end;
    align-content: space-around;
    position: absolute;
    left: 40%;
    width: 64%;
    padding: 30px;
}
.juegoTarjetaMostrar {
    display: block;
    color: var(--color-letra);
    border: 10px solid #412D15;
    border-radius: 4px;
    background-color: var(--color-madera-tele);
    margin: 32px;
    font-size: 20px;
    width: 900px;
    height: 500px;
    animation: transicionTarjeta 2s;
    margin-left: 120px;
}
.transicionVuelta {
    display: block;
    color: var(--color-letra);
    border: 10px solid var(--color-fondo-tele);
    border-radius: 4px;
    background-color: var(--color-madera-tele);
    margin: 24px;
    font-size: 20px;
    animation: transicionVuelta 2s;
}
.transicionIntroducirTarjeta {
    display: block;
    color: var(--color-letra);
    border: 10px solid var(--color-fondo-tele);
    border-radius: 4px;
    background-color: var(--color-madera-tele);
    margin: 24px;
    font-size: 20px;
    animation: transicionSalidaTarjeta 4s;
}
/* Transiciones */
@keyframes transicionTarjeta {
    from {transform: translateX(100vw);}
    to {transform: translateX(0vw);}
}
@keyframes transicionVuelta {
    from {transform: translateX(0vw);}
    to {transform: translateX(100vw);}
}
@keyframes transicionSalidaTarjeta {
    from {transform: translateY(0vw);}
    to {transform: translateY(100vw);}
}

.tituloTarjeta {
    display: flex;
    justify-content: center;
    margin: 8px;
}
.descripcionTarjeta {
    display: flex;
    margin: 8px;
}
.botonTarjeta {
    display: flex;
    justify-content: right;
    margin-left: auto;
}
/* :hover botones */
.botonTarjeta:hover {
    box-shadow: 2px 2px 1px 0.5px var(--color-fondo-tele);
}
.hover-ppt {
    background-color: var(--color-letra);
}
.hover-ppt:hover {
    background: linear-gradient(to right, #E87F24, #FFC81E);
}
.hover-adivina {
    background-color: var(--color-letra);
}
.hover-ahorcado {
    background-color: var(--color-letra);
}
.hover-ahorcado:hover {
    background: linear-gradient(to right, #cec79981, #83c9b1);
}
.hover-adivina:hover {
    background: linear-gradient(to right, rgb(255, 170, 170), rgb(88, 88, 255));
}

.AdivinaNumero:hover {
    box-shadow: 2px 2px 1px 0.5px var(--color-fondo-tele);
}
.PPT:hover {
    box-shadow: 2px 2px 1px 0.5px var(--color-fondo-tele);
}
.ahorcado:hover {
    box-shadow: 2px 2px 1px 0.5px var(--color-fondo-tele);
}

